wpp-auto/workflows/wpp-receiver-v2.json
{
  "name": "wpp-receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wpp-evolution-receive-v2",
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000001",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "wpp-evolution-receive-v2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000002",
      "name": "É messages.upsert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "n1", "name": "message_id", "value": "={{ $json.body.data.key.id }}", "type": "string"},
            {"id": "n2", "name": "fromMe", "value": "={{ $json.body.data.key.fromMe }}", "type": "boolean"},
            {"id": "n3", "name": "remoteJid", "value": "={{ $json.body.data.key.remoteJid }}", "type": "string"},
            {"id": "n4", "name": "contact_number", "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}", "type": "string"},
            {"id": "n5", "name": "content", "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}", "type": "string"},
            {"id": "n6", "name": "instance", "value": "={{ $json.body.instance }}", "type": "string"},
            {"id": "n7", "name": "raw_payload", "value": "={{ $json.body }}", "type": "object"}
          ]
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000003",
      "name": "Normalizar campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000004",
      "name": "fromMe = true?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:sent_msg:{{ $json.message_id }}",
        "keyType": "string",
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000005",
      "name": "Redis: foi o bot?",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1080, 240],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "1",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000006",
      "name": "Eco do bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 240]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:paused:{{ $('Normalizar campos').item.json.contact_number }}",
        "value": "1",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "b0000001-0000-0000-0000-000000000007",
      "name": "Redis: pausar bot 24h",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1520, 340],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "schema": {"__rl": true, "mode": "list", "value": "public"},
        "table": {"__rl": true, "mode": "list", "value": "wpp_handoff_log"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_number": "={{ $('Normalizar campos').item.json.contact_number }}",
            "action": "pause",
            "triggered_by": "human_message",
            "ttl_seconds": 86400
          },
          "matchingColumns": [],
          "schema": [
            {"id": "contact_number", "displayName": "contact_number", "type": "string"},
            {"id": "action", "displayName": "action", "type": "string"},
            {"id": "triggered_by", "displayName": "triggered_by", "type": "string"},
            {"id": "ttl_seconds", "displayName": "ttl_seconds", "type": "number"}
          ]
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000008",
      "name": "Postgres: log handoff",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, 340],
      "credentials": {"postgres": {"id": "ED6cdHtL5HTFU4o8", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "schema": {"__rl": true, "mode": "list", "value": "public"},
        "table": {"__rl": true, "mode": "list", "value": "wpp_messages"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('Normalizar campos').item.json.message_id }}",
            "contact_number": "={{ $('Normalizar campos').item.json.contact_number }}",
            "direction": "out_human",
            "content": "={{ $('Normalizar campos').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "message_id", "displayName": "message_id", "type": "string"},
            {"id": "contact_number", "displayName": "contact_number", "type": "string"},
            {"id": "direction", "displayName": "direction", "type": "string"},
            {"id": "content", "displayName": "content", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000009",
      "name": "Postgres: log msg humana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1960, 340],
      "credentials": {"postgres": {"id": "ED6cdHtL5HTFU4o8", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:paused:{{ $json.contact_number }}",
        "keyType": "string",
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000010",
      "name": "Redis: bot pausado?",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1080, 560],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "c4",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "1",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000011",
      "name": "Está pausado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 560]
    },
    {
      "parameters": {
        "schema": {"__rl": true, "mode": "list", "value": "public"},
        "table": {"__rl": true, "mode": "list", "value": "wpp_messages"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('Normalizar campos').item.json.message_id }}",
            "contact_number": "={{ $('Normalizar campos').item.json.contact_number }}",
            "direction": "in",
            "content": "={{ $('Normalizar campos').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "message_id", "displayName": "message_id", "type": "string"},
            {"id": "contact_number", "displayName": "contact_number", "type": "string"},
            {"id": "direction", "displayName": "direction", "type": "string"},
            {"id": "content", "displayName": "content", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000012",
      "name": "Postgres: log msg recebida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1520, 680],
      "credentials": {"postgres": {"id": "ED6cdHtL5HTFU4o8", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "// Debounce: adiciona mensagem ao buffer Redis e grava message_id como 'último'\n// Estrutura do buffer: JSON array de mensagens\n// TTL 30s (5s acima do debounce de 8s + margem)\n\nconst contactNumber = $('Normalizar campos').item.json.contact_number;\nconst messageId = $('Normalizar campos').item.json.message_id;\nconst content = $('Normalizar campos').item.json.content;\nconst instance = $('Normalizar campos').item.json.instance;\n\nreturn [{\n  json: {\n    contact_number: contactNumber,\n    message_id: messageId,\n    content: content,\n    instance: instance,\n    buffer_key: `buffer:msgs:${contactNumber}`,\n    last_key: `buffer:last:${contactNumber}`\n  }\n}];\n"
      },
      "id": "b0000001-0000-0000-0000-000000000013",
      "name": "Preparar buffer keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 680]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.buffer_key }}",
        "messageData": "={{ $json.content }}",
        "tail": true,
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000014",
      "name": "Redis: append buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1960, 680],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=buffer:last:{{ $('Preparar buffer keys').item.json.contact_number }}",
        "value": "={{ $('Preparar buffer keys').item.json.message_id }}",
        "keyType": "string",
        "expire": true,
        "ttl": 30
      },
      "id": "b0000001-0000-0000-0000-000000000015",
      "name": "Redis: marcar ultimo",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2180, 680],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "b0000001-0000-0000-0000-000000000016",
      "name": "Wait 8s (debounce)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2400, 680],
      "webhookId": "debounce-wait"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=buffer:last:{{ $('Preparar buffer keys').item.json.contact_number }}",
        "keyType": "string",
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000017",
      "name": "Redis: ler ultimo",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2620, 680],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "c5",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "={{ $('Preparar buffer keys').item.json.message_id }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000001-0000-0000-0000-000000000018",
      "name": "Sou a ultima msg?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 680]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=buffer:msgs:{{ $('Preparar buffer keys').item.json.contact_number }}",
        "options": {"type": "list", "getValues": true}
      },
      "id": "b0000001-0000-0000-0000-000000000019",
      "name": "Redis: ler buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3060, 620],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:msgs:{{ $('Preparar buffer keys').item.json.contact_number }}",
        "keyType": "string"
      },
      "id": "b0000001-0000-0000-0000-000000000020",
      "name": "Redis: limpar buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3280, 620],
      "credentials": {"redis": {"id": "YEun9v2RmIsI97HG", "name": "Redis account"}}
    },
    {
      "parameters": {
        "jsCode": "// Lógica inteligente: procura dígito válido (0/1/2/3) nas mensagens da rajada\n// Se achar, usa o dígito. Se não, concatena tudo pro bot mandar msg de erro.\n\nconst contactNumber = $('Preparar buffer keys').item.json.contact_number;\nconst instance = $('Preparar buffer keys').item.json.instance;\nconst messageId = $('Preparar buffer keys').item.json.message_id;\n\n// O node 'Redis: ler buffer' retorna um objeto cuja chave é o nome da chave Redis\n// e o valor é o array de mensagens. Vamos extrair o array.\nconst previousOutput = $input.first().json;\nlet messages = [];\n\n// Tenta extrair o array de mensagens - pode vir em formatos diferentes\nfor (const key in previousOutput) {\n  if (Array.isArray(previousOutput[key])) {\n    messages = previousOutput[key];\n    break;\n  }\n}\n\n// Se não achou array, tenta usar o content direto (fallback)\nif (messages.length === 0) {\n  const fallback = $('Preparar buffer keys').item.json.content;\n  if (fallback) messages = [fallback];\n}\n\n// Procura dígito válido em qualquer mensagem\n// Aceita: \"1\", \" 1 \", \"1.\", \"1)\", \"dois 2 quero 2\" → pega o primeiro dígito isolado 0-3\nlet digitFound = null;\nfor (const msg of messages) {\n  const msgStr = (msg || '').toString();\n  // Regex: dígito 0-3 com espaço/começo/fim/pontuação ao redor\n  const match = msgStr.match(/(?:^|\\s|[^\\w])([0-3])(?:\\s|$|[^\\w])/);\n  if (match) {\n    digitFound = match[1];\n    break;\n  }\n  // Tenta também mensagem que SEJA só um dígito (sem separadores)\n  const trimmed = msgStr.trim().replace(/[.)\\s]/g, '');\n  if (/^[0-3]$/.test(trimmed)) {\n    digitFound = trimmed;\n    break;\n  }\n}\n\nconst finalContent = digitFound !== null ? digitFound : messages.join('\\n');\n\nreturn [{\n  json: {\n    contact_number: contactNumber,\n    content: finalContent,\n    message_id: messageId,\n    instance: instance,\n    debug_original_messages: messages,\n    debug_digit_found: digitFound\n  }\n}];\n"
      },
      "id": "b0000001-0000-0000-0000-000000000021",
      "name": "Filtrar input inteligente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 620]
    },
    {
      "parameters": {
        "workflowId": {"__rl": true, "value": "1UjlULsbchQpEl5U", "mode": "list", "cachedResultName": "wpp-bot-engine"},
        "options": {"waitForSubWorkflow": true}
      },
      "id": "b0000001-0000-0000-0000-000000000022",
      "name": "Chamar bot engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3720, 620]
    },
    {
      "parameters": {
        "content": "## wpp-receiver (com debounce 8s)\n\n**Função:** ponto de entrada do webhook da Evolution API com debounce inteligente.\n\n**Decisões:**\n1. É mensagem (`messages.upsert`)? Se não, ignora.\n2. `fromMe` é true ou false?\n   - **TRUE:** é o próprio número enviando.\n     - Se tem marca no Redis `bot:sent_msg:{id}` → foi o bot, ignora.\n     - Senão → é você escrevendo manualmente → pausa bot por 24h.\n   - **FALSE:** é cliente enviando.\n     - Se tem marca `bot:paused:{numero}` → ignora.\n     - Senão → entra no DEBOUNCE:\n       1. Append msg ao buffer `buffer:msgs:{numero}`\n       2. Marca message_id como 'último' em `buffer:last:{numero}`\n       3. Espera 8 segundos\n       4. Verifica se ainda é a 'última'. Se não, aborta.\n       5. Lê buffer completo, procura dígito válido (0-3).\n       6. Se achou dígito → envia só o dígito pro engine.\n       7. Se não achou → envia tudo concatenado pro engine (cai no menu inválido).",
        "height": 420,
        "width": 500,
        "color": 6
      },
      "id": "b0000001-0000-0000-0000-000000000099",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [[{"node": "É messages.upsert?", "type": "main", "index": 0}]]
    },
    "É messages.upsert?": {
      "main": [
        [{"node": "Normalizar campos", "type": "main", "index": 0}],
        []
      ]
    },
    "Normalizar campos": {
      "main": [[{"node": "fromMe = true?", "type": "main", "index": 0}]]
    },
    "fromMe = true?": {
      "main": [
        [{"node": "Redis: foi o bot?", "type": "main", "index": 0}],
        [{"node": "Redis: bot pausado?", "type": "main", "index": 0}]
      ]
    },
    "Redis: foi o bot?": {
      "main": [[{"node": "Eco do bot?", "type": "main", "index": 0}]]
    },
    "Eco do bot?": {
      "main": [
        [],
        [{"node": "Redis: pausar bot 24h", "type": "main", "index": 0}]
      ]
    },
    "Redis: pausar bot 24h": {
      "main": [[{"node": "Postgres: log handoff", "type": "main", "index": 0}]]
    },
    "Postgres: log handoff": {
      "main": [[{"node": "Postgres: log msg humana", "type": "main", "index": 0}]]
    },
    "Redis: bot pausado?": {
      "main": [[{"node": "Está pausado?", "type": "main", "index": 0}]]
    },
    "Está pausado?": {
      "main": [
        [],
        [{"node": "Postgres: log msg recebida", "type": "main", "index": 0}]
      ]
    },
    "Postgres: log msg recebida": {
      "main": [[{"node": "Preparar buffer keys", "type": "main", "index": 0}]]
    },
    "Preparar buffer keys": {
      "main": [[{"node": "Redis: append buffer", "type": "main", "index": 0}]]
    },
    "Redis: append buffer": {
      "main": [[{"node": "Redis: marcar ultimo", "type": "main", "index": 0}]]
    },
    "Redis: marcar ultimo": {
      "main": [[{"node": "Wait 8s (debounce)", "type": "main", "index": 0}]]
    },
    "Wait 8s (debounce)": {
      "main": [[{"node": "Redis: ler ultimo", "type": "main", "index": 0}]]
    },
    "Redis: ler ultimo": {
      "main": [[{"node": "Sou a ultima msg?", "type": "main", "index": 0}]]
    },
    "Sou a ultima msg?": {
      "main": [
        [{"node": "Redis: ler buffer", "type": "main", "index": 0}],
        []
      ]
    },
    "Redis: ler buffer": {
      "main": [[{"node": "Redis: limpar buffer", "type": "main", "index": 0}]]
    },
    "Redis: limpar buffer": {
      "main": [[{"node": "Filtrar input inteligente", "type": "main", "index": 0}]]
    },
    "Filtrar input inteligente": {
      "main": [[{"node": "Chamar bot engine", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
